body {
  font: 14px Helvetica Neue;
  text-rendering: optimizeLegibility;
}

.light, .foot, h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
  font-weight: 300;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.body, .foot {
  width: 960px;
  margin: auto;
}


.foot {
  display: block;
  margin-top: 3em;
}

h1 {
  font-size: 36px;
}
